services:
  app_proxy:
    environment:
      APP_HOST: rsyslog-gui
      APP_PORT: 80
    image: ghcr.io/getumbrel/umbrel-app-proxy:v1.0.0@sha256:f86f6bce12015d10b95db7a4a0c1b42b66d7c8f5e5e7d9849f5b1a6c7c6a3f3a
    restart: on-failure
    networks:
      - default

  rsyslog-gui:
    image: aguyonnet/rsyslog-gui:latest
    restart: on-failure
    stop_grace_period: 1m
    environment:
      SYSLOG_USERNAME: ${APP_RSYSLOG_USERNAME:-admin}
      SYSLOG_PASSWORD: ${APP_RSYSLOG_PASSWORD:-}
    ports:
      - "514:514/udp"
    volumes:
      - ${APP_DATA_DIR}/logs:/var/log
    networks:
      - default

networks:
  default:
    name: rsyslog-server_default
